.dashboard-wrapper {
    .statistics-wrapper {
        .primary-card-rounded {
            padding: 14px 24px;
        }
    }

    .vertical-divider {
        width: 0px;
        height: 59px;
        border: 1px solid #ebebeb;
    }

    .amount-graph-wrapper {
        .primary-card-rounded {
            padding: 14px 24px;
            height: 504px !important;
            padding: 20px;
        }
    }
}

.area-chart-header {
    display: flex;
    .chart-legend {
        .indicator {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
        .primary-indicator {
            background: #089752;
        }
        .secondary-indicator {
            background: #343379;
        }
    }
}

.chart-legend {
    .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }
    .primary-indicator {
        background: #089752;
    }
    .secondary-indicator {
        background: #343379;
    }
}

.sponcors-wrapper {
    .primary-card-rounded {
        padding: 20px 0px 0px 0px !important;
        // height: 326px !important;
        padding: 20px;
        .sponcors-card-header{
            padding: 0px 20px;
        }
        .sponcors-card-body{
            padding: 0px 20px;
            background: #FCFCFC;
            margin-bottom: 20px;
        }
    }
    .total-sponsors{
        border-bottom: 1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.funds-pie-chart-wrapper {
    .primary-card-rounded {
        padding: 20px 30px;
        // height: 528px !important;
        padding: 20px;
        .pie-chart-legend{
            .legend-color{
                width: 10px;
                height: 10px;
            }
        }

    }
}

.bar-chart-header {
    display: flex;
}

.scholarships-wrapper {
    .primary-card-rounded {
        height: 219px !important;
    }
    .table-header {
        height: 52px;
        background-color: #ffffff;
        padding: 15px;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 8px 8px 0px 0px;
    }
    .table-content {
        overflow-y: auto !important;
        height: 155px;
    }

    table {
        margin: 0 auto;
        font-size: 10px;
        width: 85%;

        thead,
        tbody tr {
            table-layout: fixed; /* even columns width , fix width of table too*/
        }
        th {
            color: #686874;
            font-weight: 400;
        }
        td {
            color: #04041c;
        }
        th,
        td {
            padding: 0 12px;
        }
        td,
        th {
            text-align: center;
        }
    }
}

.colleges-chart-wrapper {
    .primary-card-rounded {
        height: 295px !important;
        padding: 10px 20px;
    }
}
.revenue-top-countries-wrapper {
    .primary-card-rounded {
        height: 565px !important;
        padding: 29px 30px;
    }
}
.revenue-all-countries-wrapper {
    .primary-card-rounded {
        padding: 29px 30px;
        height: 1000px !important;
        // height: auto !important;
    }
}

.custom-tooltip{
    padding: 4px 0px 4px 0px;
    width: 74px;
    background: rgba($color: white, $alpha: 1.0);
}
