.academic-details-wrapper {
    &__header {
        width: 100%;
        min-height: 173px;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        padding: 17px 30px;
        margin: 15px 0;

        .vertical-divider {
            height: 42px;
            width: 1px;
            background: #e4e4e4;
            margin: 0 25px;
        }
    }
    &__content {
        width: 100%;
        min-height: 367px;
        background: #ffffff;
        box-shadow: 0px 3px 15px #85858529;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        padding: 17px 30px;

        .ant-table-thead > tr > th {
            background-color: #fff !important;
        }
        .ant-table-thead > tr > th:before {
            background-color: transparent !important;
        }
    }

    // tabs
    .ant-primary-tabs {
        .ant-tabs-nav-list {
            width: 100%;
        }
    }
    .academic-record-page-card {
        padding: 32px 26px 32px 0 !important;
    }

    .course-record-wrapper {
        .primary-table-wrapper {
            min-height: 516px !important;
        }
        .primary-search {
            width: 252px !important;
        }
    }
}

.result-card-heading {
    color: var(--text-color);
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #15152e;
    margin-top: 35px;
    margin-bottom: 0px;
}
.student-result-card-wrapper {
    height: 141px !important;
    width: 100%;
    margin-top: 21px;
    background: #ffffff;
    box-shadow: 0px 3px 15px #85858529;
    border-radius: 4px;
    padding-left: 0;
    padding-top: 22px;
    padding-right: 0;
    padding-bottom: 14px;
    margin-bottom: 40px;
}

.result-card-qualifation {
    text-align: left;
    font-size: 12px;
    color: #15152e;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0px;
}
.result-card-college {
    color: var(--text-color);
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    color: #15152e;
    margin: 0 !important;
}
.result-card-college-major {
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    color: #15152e;
    margin: 0 !important;
    margin-left: 65px;
}
.result-card-department {
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    color: #15152e;
}
.result-card-college-education {
    text-align: left;
    font-size: 11px;
    color: #15152e;
    font-weight: 500;
}
.wrapper-table-heading {
    text-align: left;
    font-size: 16px;
    color: #15152e;
    font-weight: 500;
    margin-bottom: 34px;
    padding-left: 26px;
    white-space: nowrap;
}
.wrapper-table-grade {
    text-align: left;
    font-size: 11px;
    color: #15152e;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 0px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 6px 0 6px 26px;
}

.wrapper-table-points {
    text-align: left;
    font-size: 11px;
    color: #15152e;
    font-weight: 500;
    padding-left: 26px;
    margin-top: 7px;
}
.content-right {
    margin-top: 6px;
    text-align: center;
}
.grade-color {
    width: 34px;
    height: 13px;
    border-radius: 4px;
    margin-bottom: 0px;
}
.grade {
    font-size: 14px bold;
    color: #15152e;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 700;
}
.marks {
    font-size: 11px;
    color: #262626;
    margin-bottom: 0px;
    margin-top: 10px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding: 6px 0;
}

.points {
    font-size: 11px;
    color: #262626;
    margin: 0;
    margin-top: 7px !important;
}

// ==================================================================
// ==                     Semester card
// ==================================================================

.result-card-show {
    text-align: left;
    font-size: 14px;
    color: #262626;
    margin-bottom: 0px;
}

.print-btn {
    width: 77px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #343379;
    border-radius: 4px;
    text-align: left;
    font-size: 11px;
    color: #343379;
    padding: 10px;
}

.export-btn {
    margin-left: 15px;
    width: 125px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #343379;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    font-size: 11px;
    color: #343379;
}
.buttons-wrapper {
    margin-top: 18px;
}
.question-dropdown {
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;

    width: 156px;
    height: 34px;
}
.drop-icon {
    width: 10px;
    height: 5px;
    background: #000000;
    opacity: 1;
}

.semester-card,
.report-card {
    width: 100%;
    min-height: 367px;
    background: #ffffff;
    box-shadow: 0px 3px 15px #85858529;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding-top: 16px;
}
