.academic-calendae-wrapper {
    background: #ffffff;
    box-shadow: 0px 0px 20px #cecece29;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 26px 37px 26px 37px;
    // .academic-calendar-content{

    // }
}
