.graduate-students-wrapper {
    .graduate-students-content {
        .table-top-bar {
            background: #ffffff;
            box-shadow: 0px 0px 20px #cecece29;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            .top-searchbar-filter {
                padding: 13px 30px 13px 30px;
                border-bottom: 1px solid grey;
            }
            // .student-graduated-fliter {
            // }
        }
    }
}
