.student-info-and-grading-wrapper {
    .back-button {
        .back-btn {
            border: none !important;
            color: #2f2f75 !important;
        }
    }
    .student-info-wrapper {
        background: #ffffff;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        padding: 17px 30px 17px 30px;
        .student-info {
            .scholorship-semester-cgpa {
                .scholorship {
                    border-right: 1px solid grey;
                    padding-right: 25px;
                }
                .semester {
                    border-right: 1px solid grey;
                    padding-right: 25px;
                }
                .cgpa {
                    border-right: 1px solid grey;
                    padding-right: 25px;
                }
            }
        }
    }

    .result-card-wrapper {
        padding: 29px 32px 29px 32px;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        border-radius: 4px;

        .show-all-sem-export {
            .all-sem-export {
                .sem-selector {
                    .select-custom {
                        background: #ffffff !important;
                        border: 1px solid #cbcbcb !important;
                        border-radius: 4px !important;
                    }
                }
                .export-pdf-btn {
                    .export-btn {
                        border: 1px solid var(--unnamed-color-2f2f75) !important;
                        background: #ffffff !important;
                        border: 1px solid #2f2f75 !important;
                        border-radius: 4px !important;
                        color: #2f2f75 !important;
                    }
                }
            }
        }

        .current-semester {
            background: #ffffff ;
            box-shadow: 0px 3px 15px #85858529;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            h4{
                padding: 16px 0px 16px 0px;
            }
        }

        .reported-academic-record {
            background: #ffffff ;
            box-shadow: 0px 3px 15px #85858529;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            h4{
                padding: 16px 0px 16px 0px;
            }
        }
    }
}
