.studying-students-wrapper {
    .studying-students-content {
        height: 588px;
        margin-top: 30px;
        background: #ffffff;
        box-shadow: 0px 0px 20px #cecece29;
        border: 1px solid #e5e5e5;
        border-radius: 4px;

        .search-function-top{
            padding: 13px 30px 13px 30px;
            border-bottom: 1px solid grey;
            .student-enroll-fliter{
                
            }
        }

        .studying-students-table{
            // padding: 13px 30px 13px 30px;
        }
    }
}
